* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
}

.big-container {
  display: flex;
}

.container {
  flex: 1;
  height: 100vh;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 260px;
  background-color: rgb(149, 161, 161);
}

.dashboard-logo {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

.sidebar-logo {
  width: 50px;
}

.logo-text {
  font-size: 26px;
}

.options-1 {
  flex: 3;
  padding: 24px;
}

.options-1 > ul {
  list-style: none;
}
.options-1 li {
  margin-bottom: 12px;
}
.options-1 a {
  margin-left: 6px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.options-2 {
  flex: 5;
  padding: 24px;
}
.options-2 > ul {
  list-style: none;
}
.options-2 li {
  margin-bottom: 12px;
}
.options-2 a {
  margin-left: 6px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}


/* Right side */
.container-2 {
  flex: 4;
  display: flex;
  flex-direction: column;
}

/* Top-right side */
.top-bar {
  flex: 1;
  /* min-height: 200px; */
  box-shadow: 1px 1px 2px 2px rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
}
.top-bar-one {
  display: flex;
  justify-content: space-between;
  margin: 12px 26px 16px 26px;
  min-width: 860px;
}
.top-bar-one .search-bar {
  display: flex;
  align-items: center;
}
.top-bar-one .input-box {
  margin-left: 16px;
  padding-left: 12px;
  width: 520px;
  height: 24px;
  border: none;
  border-radius: 12px;
  background-color: rgb(188, 202, 202);
}

.top-bar-one .profile-section {
  display: flex;
  align-items: center;
}

.top-bar-one .profile-section div {
  margin-left: 16px;
}

.top-bar-one .profile-section img {
  width: 40px;
  border-radius: 50%;
}

.top-bar-two {
  display: flex;
  justify-content: space-between;
}
.top-bar-two .greeting-section {
  display: flex;
  align-items: center;
}
.top-bar-two .greeting-section > div {
  margin-right: 16px;
}
.top-bar-two .greeting-section img {
  margin-left: 26px;
  width: 50px;
  border-radius: 50%;
}

.top-bar-two .text-1 {
  font-size: 12px;
}

.main-content {
  flex: 6;
}
