* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
}

.big-container {
  display: flex;
}

.container {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 190px;
  max-width: 260px;
  background-color: rgb(149, 161, 161);
}

.dashboard-logo {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

.sidebar-logo {
  width: 50px;
}

.logo-text {
  font-size: 26px;
}

.options-1 {
  flex: 3;
  padding: 24px;
}

.options-1 > ul {
  list-style: none;
}
.options-1 li {
  margin-bottom: 12px;
}
.options-1 a {
  margin-left: 6px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.options-2 {
  flex: 5;
  padding: 24px;
}
.options-2 > ul {
  list-style: none;
}
.options-2 li {
  margin-bottom: 12px;
}

.container-2 {
  height: 100vh;
  flex: 4;
  display: flex;
  flex-direction: column;
}
.top-bar {
  flex: 1;
  min-height: 100px;
  box-shadow: 1px 1px 2px 2px rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
}
.top-bar-one {
  display: flex;
  justify-content: space-between;
}
.top-bar-two {
  display: flex;
  justify-content: space-between;
}

.main-content {
  flex: 4;
}
